{% load static %}
{% load app_tags %}
{% get_menus as menus %}
<style>
	.hello-msg{
		font-size: 18px;
		color: #000000;
		margin-right: 20px;
	}
</style>
<div id="page">
<nav class="fh5co-nav" role="navigation">
	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-right">
					<p class="num">Call: +01 123 456 7890</p>
					<ul class="fh5co-social">
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
						<li><a href="#"><i class="icon-github"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="top-menu">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a href="index.html">Stamina<span>.</span></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						{% for item in menus %}
						<li><a href="{{ item.link }}">{{ item.name }}</a></li>
						{% endfor %}
						<span class="hello-msg">Hello , {{ request.user }}</span>
				<span class="hello-msg"><a href="{% url 'core:logout'%}">Logout</a></span>

					</ul>
				</div>

			</div>

		</div>
	</div>
</nav>