{%extends "base.html"%}
{% load static %}
{% block content %}
<div class="fh5co-loader"></div>
<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url({% static '/images/img_bg_2.jpg' %});" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Make it a lifestyle, not a duty</h1>
						<h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
						<p><a href="https://vimeo.com/channels/staffpicks/93951774" class="btn btn-primary popup-vimeo">Watch Our Video</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div id="fh5co-services" class="fh5co-bg-section">
	<div class="container">
		<div class="row">
			{% for item in service %}
			<div class="col-md-4 text-center animate-box">
				<div class="services">
					<span><img class="img-responsive" src="{{ item.img.url }}" alt=""></span>
					<h3>{{ item.name }}</h3>
					<p>{{ item.short_descr }}</p>
					<p><a href="#" class="btn btn-primary btn-outline btn-sm">More <i class="icon-arrow-right"></i></a></p>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</div>


<div id="fh5co-schedule" class="fh5co-bg" style="background-image: url({% static '/images/img_bg_1.jpg' %});">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
				<h2>Class Schedule</h2>
			</div>
		</div>

		<div class="row animate-box">

			<div class="fh5co-tabs">
				<ul class="fh5co-tab-nav">
					<li class="active"><a href="#" data-tab="1"><span class="visible-xs">S</span><span class="hidden-xs">Sunday</span></a></li>
					<li><a href="#" data-tab="2"><span class="visible-xs">M</span><span class="hidden-xs">Monday</span></a></li>
					<li><a href="#" data-tab="3"><span class="visible-xs">T</span><span class="hidden-xs">Tuesday</span></a></li>
					<li><a href="#" data-tab="4"><span class="visible-xs">W</span><span class="hidden-xs">Wednesday</span></a></li>

					<li><a href="#" data-tab="5"><span class="visible-xs">Th</span><span class="hidden-xs">Thursday</span></a></li>
					<li><a href="#" data-tab="6"><span class="visible-xs">F</span><span class="hidden-xs">Friday</span></a></li>
					<li><a href="#" data-tab="7"><span class="visible-xs">S</span><span class="hidden-xs">Saturday</span></a></li>
				</ul>

				<!-- Tabs -->
				<div class="fh5co-tab-content-wrap">
					<div class="fh5co-tab-content tab-content active" data-tab-content="1">
						<ul class="class-schedule">
							<li class="text-center">
								<span><img src="{% static '/images/exercise.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Cardio</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/dumbbell.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">9:00 AM - 11AM</span>
								<h4>Body Building</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/yoga-carpet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">6:00 AM - 7AM</span>
								<h4>Yoga</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/two-boxing-gloves.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Boxing</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/ballet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Ballet Dance</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/dumbbell.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">9:00 AM - 11AM</span>
								<h4>Body Building</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/yoga-carpet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">6:00 AM - 7AM</span>
								<h4>Yoga</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/exercise.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Cardio</h4>
								<small>Angel Adams</small>
							</li>
						</ul>
					</div>

					<div class="fh5co-tab-content tab-content active" data-tab-content="2">
						<ul class="class-schedule">
							<li class="text-center">
								<span><img src="{% static '/images/exercise.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Cardio</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/dumbbell.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">9:00 AM - 11AM</span>
								<h4>Body Building</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/yoga-carpet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">6:00 AM - 7AM</span>
								<h4>Yoga</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/two-boxing-gloves.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Boxing</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/ballet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Ballet Dance</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/dumbbell.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">9:00 AM - 11AM</span>
								<h4>Body Building</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/yoga-carpet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">6:00 AM - 7AM</span>
								<h4>Yoga</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/exercise.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Cardio</h4>
								<small>Angel Adams</small>
							</li>
						</ul>
					</div>

					<div class="fh5co-tab-content tab-content active" data-tab-content="3">
						<ul class="class-schedule">
							<li class="text-center">
								<span><img src="{% static '/images/exercise.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Cardio</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/dumbbell.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">9:00 AM - 11AM</span>
								<h4>Body Building</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/yoga-carpet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">6:00 AM - 7AM</span>
								<h4>Yoga</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/two-boxing-gloves.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Boxing</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/ballet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Ballet Dance</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/dumbbell.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">9:00 AM - 11AM</span>
								<h4>Body Building</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/yoga-carpet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">6:00 AM - 7AM</span>
								<h4>Yoga</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/exercise.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Cardio</h4>
								<small>Angel Adams</small>
							</li>
						</ul>
					</div>

					<div class="fh5co-tab-content tab-content active" data-tab-content="4">
						<ul class="class-schedule">
							<li class="text-center">
								<span><img src="{% static '/images/exercise.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Cardio</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/dumbbell.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">9:00 AM - 11AM</span>
								<h4>Body Building</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/yoga-carpet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">6:00 AM - 7AM</span>
								<h4>Yoga</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/two-boxing-gloves.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Boxing</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/ballet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Ballet Dance</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/dumbbell.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">9:00 AM - 11AM</span>
								<h4>Body Building</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/yoga-carpet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">6:00 AM - 7AM</span>
								<h4>Yoga</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/exercise.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Cardio</h4>
								<small>Angel Adams</small>
							</li>
						</ul>
					</div>

					<div class="fh5co-tab-content tab-content active" data-tab-content="5">
						<ul class="class-schedule">
							<li class="text-center">
								<span><img src="{% static '/images/exercise.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Cardio</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/dumbbell.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">9:00 AM - 11AM</span>
								<h4>Body Building</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/yoga-carpet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">6:00 AM - 7AM</span>
								<h4>Yoga</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/two-boxing-gloves.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Boxing</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/ballet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Ballet Dance</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/dumbbell.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">9:00 AM - 11AM</span>
								<h4>Body Building</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/yoga-carpet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">6:00 AM - 7AM</span>
								<h4>Yoga</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/exercise.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Cardio</h4>
								<small>Angel Adams</small>
							</li>
						</ul>
					</div>

					<div class="fh5co-tab-content tab-content active" data-tab-content="6">
						<ul class="class-schedule">
							<li class="text-center">
								<span><img src="{% static '/images/exercise.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Cardio</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/dumbbell.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">9:00 AM - 11AM</span>
								<h4>Body Building</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/yoga-carpet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">6:00 AM - 7AM</span>
								<h4>Yoga</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/two-boxing-gloves.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Boxing</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/ballet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Ballet Dance</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/dumbbell.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">9:00 AM - 11AM</span>
								<h4>Body Building</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/yoga-carpet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">6:00 AM - 7AM</span>
								<h4>Yoga</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/exercise.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Cardio</h4>
								<small>Angel Adams</small>
							</li>
						</ul>
					</div>

					<div class="fh5co-tab-content tab-content active" data-tab-content="7">
						<ul class="class-schedule">
							<li class="text-center">
								<span><img src="{% static '/images/exercise.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Cardio</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/dumbbell.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">9:00 AM - 11AM</span>
								<h4>Body Building</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/yoga-carpet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">6:00 AM - 7AM</span>
								<h4>Yoga</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/two-boxing-gloves.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Boxing</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/ballet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Ballet Dance</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/dumbbell.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">9:00 AM - 11AM</span>
								<h4>Body Building</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/yoga-carpet.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">6:00 AM - 7AM</span>
								<h4>Yoga</h4>
								<small>Angel Adams</small>
							</li>
							<li class="text-center">
								<span><img src="{% static '/images/exercise.svg' %}" class="img-responsive" alt=""></span>
								<span class="time">7:00 AM - 8AM</span>
								<h4>Cardio</h4>
								<small>Angel Adams</small>
							</li>
						</ul>
					</div>

				</div>

			</div>
		</div>
	</div>
</div>




<div id="fh5co-testimonial" class="fh5co-bg-section">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>Happy Clients</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row animate-box">
					<div class="owl-carousel owl-carousel-fullwidth">
						{% for item in gratitudes %}
						<div class="item">
							<div class="testimony-slide active text-center">
								<figure>
									<img src="{{ item.img.url }}" alt="user">
								</figure>
								<span>{{ item.fullname }}<a href="#" class="twitter"> {{ item.via}}</a></span>
								<blockquote>
									<p>&ldquo;{{ item.Sentance }}&rdquo;</p>
								</blockquote>
							</div>
						</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="fh5co-started" class="fh5co-bg" style="background-image: url({% static '/images/img_bg_3.jpg' %});">
	<div class="overlay"></div>
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center">
				<h2>Fitness Classes this Summer <br> <span> Pay Now and <br> Get <span class="percent">35%</span> Discount</span></h2>
			</div>
		</div>
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center">
				<p><a href="#" class="btn btn-default btn-lg">Become a Member</a></p>
			</div>
		</div>
	</div>
</div>



</div>
{% endblock %}

